.jokeContainer {
    margin: 0 auto;
    width: 86%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    outline: solid 2px rgb(141, 155, 209);
}

.jokeSection {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.scroller {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.messageContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px rgb(208, 208, 208);
}

.firstMessage {
    background-color: #fff;
}

.message {
    width: 100%;
}

.messageContent{
    margin: 0 0.7rem 0 1rem;
    display: flex;
    align-items: center;
    width: 76%;
}

.message img {
    width: 30px;
    height: auto;
    margin: 0 1.2rem 0 0.7rem;
}

.message p {
    padding: 1.6rem 0;
    margin: 0;
    /* word-wrap: break-word; */
    text-align: justify;
}

.loadingDots {
    display: flex;
    justify-content: center;
}
  
.loadingDots span {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #626262;
    margin: 0 4px;
}

.loadingDots span:nth-child(1){
    animation: jump 1.2s ease infinite;
}
.loadingDots span:nth-child(2){
    animation: jump 1.2s ease-out infinite;
}
.loadingDots span:nth-child(3){
    animation: jump 1.2s ease-in-out infinite;
}

@keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0);
    }
}
  
  
  
  
  