<div class="jokeContainer">
  <div class="jokeSection scroller">
    <div class="messageContainer" *ngFor="let message of ngObj"
      [style.backgroundColor]="message.role === 'assistant' ? '#fff' : '#f0f0f0'">
      <!-- using *ngIf to render messages based on message roles -->
      <div class="message assistantMessage" *ngIf="message.role !== 'system' && message.role === 'assistant'">
        <div class="messageContent">
          <img src="assets/favicon.png" />
          <!-- Loading dots appear -->
          <div class="loadingDots" *ngIf="!message.content">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p>{{message.content}}</p>
        </div>
      </div>
      <div class="message userMessage" *ngIf="message.role !== 'system' && message.role === 'user'">
        <div class="messageContent">
          <img src="assets/doge.png" />
          <p>{{message.content}}</p>
        </div>
      </div>
    </div>
    <div id="scrollAnchor"></div>
  </div>
</div>