<div class="jokeContainer">
  <div class="jokeSection scroller">
    <div class="messageCard firstMessage">
      <img src="assets/favicon.png" />
      <p>告訴我笑話的主題，語言不限！送出空白提示的話我會自由發揮。</p>
    </div>
    <div 
      class="messages" 
      *ngFor="let message of gptObj.messages; index as i"
      [style.backgroundColor]="i%2 === 0 ? '#fff' : '#f0f0f0'"
    >
    <!-- using *ngIf to render messages based on message roles -->
      <div class="messageCard assistantMessage" *ngIf="message.role !== 'system' && i%2 === 0">
        <img src="assets/favicon.png" />
        <!-- Loading dots appear -->
        <div class="loadingDots" *ngIf="!message.content">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <p>{{message.content}}</p>
      </div>
      <div class="messageCard userMessage" *ngIf="message.role !== 'system' && i%2 === 1">
        <img src="assets/doge.png" />
        <p>{{message.content}}</p>
      </div>
    </div>
    <div id="scrollAnchor"></div>
  </div>
</div>