/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to right, rgb(191, 204, 255), rgb(141, 163, 249));
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}